<!DOCTYPE html>
   <head>
        <title>{{ title }}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/global.css') }}">

   </head>
   <body>
       <div class="sidenav">
            <ul>
                <li class="blue"><a>Welcome User: {{ user }}</a></li>
                <!-- Left to Right Nav -->
                <li><a href="">Dashboard</a></li>

                <!-- Right to Left Nav -->
                <li><a href="">Log Out</a></li>
            </ul>
        </div>  
        <div class="main">
            <h1>IOT Network Interface</h1>
            <hr>
            <!-- <h2>The date and time on the server is: {{ time }}</h2> -->
            <h2>Network Status</h2>
            <h3 class="flex">
                <div class="node-box {{status[0]}}">{{status[1]}}</div>
            </h3>
            <hr>

            <h2>Manual Control</h2>
            <h3 class="flex">
                <a href="/MAIN/ON" class="button box">SEND MESSAGE</a>
                <a href="/MAIN/OFF"class="button box">NODE SHUT OFF</a>
                <a href="/MAIN/OFF"class="button box">NETWORK RESTART</a>
                <a href="/MAIN/EXIT"class="button box">EXIT SERVER</a>
            </h3>
            <hr>

            <h2>Available Nodes</h2>
            <h3 class="flex">
                {% for node in nodes %}
                    <div class="node-box {{nodes.get(node)[1]}}">
                        <i>Node ID: {{ node }}</i><br>
                        Node Type: {{ nodes.get(node)[0] }}
                        Node Status: {{ nodes.get(node)[2] }}
                    </div>
                {% endfor %}
            </h3>
        </div>

   </body>
</html>